:root {
    --primary_brand: #4D5AE5;
    --pressed_state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle_text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal_overlay: #2E2F42;
    --hero_background: #2E2F42;
    --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text)
}

a {
    text-decoration: none;
}

.logo-accent {
    color: var(--primary_brand);
}

